# SPDX-License-Identifier: GPL-2.0-only
menu "CPU Idle"

if CPU_IDLE

config CPU_IDLE_GOV_QCOM_LPM
    tristate "Qualcomm Technologies, Inc. CPU and Cluster governor"
    depends on ARCH_QCOM
    depends on ARM_PSCI_CPUIDLE
    help
      This governor implements effective cpu and cluster idle state
      selection with help of scheduler inputs, cpu idle state prediction
      and cluster idle state prediction algorithms.

      The predicted sleep time, latency requirement for the
      CPU and the idle state chosen based on the parameters are all
      logged in the trace.

config CPU_IDLE_SIMPLE_GOV_QCOM_LPM
    tristate "Qualcomm Technologies, Inc. CPU and Cluster simple governor"
    depends on ARCH_QCOM
    depends on ARM_PSCI_CPUIDLE
    help
      This governor allows the cpu and cluster to deeper idle states more aggressively
      by reducing cpuidle parameters such as the entry, exit latencies and the residency.
      This provides the provision to user to update cpuidle parameters so that it can
      allow or restrict particular Idle state more aggressively.

endif

endmenu
